/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

#img1 {
	height: 300px;
	width: 400px;
}

#img2 {
	height: 500px;
	width: 400px;
}

#img {
	height: 200px;
	width: 300px;
}

.fa-icons {
	font-size: 2rem;
}

.embed-responsive {
	width: 400px;
	height: 300px;
	margin: 0 auto;
}